/* Fonts */
h1 {
    font-family: Roboto, sans-serif;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 0.75rem;
}

p, a {
    font-family: Padauk, sans-serif;
}

.nav-links-header button {
text-decoration: none;
background: none;
border: none;
font-size: 1rem;
font-family: Padauk, sans-serif;
color: #14181C;
}


/* Header */

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: 60px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
    z-index: 3;
}

header img {
    width: 50px;
}

footer {
    padding: 30px;
    color: #fff;
    background-color: #0A0C0E;
}


button {
    cursor: pointer;
}


.nav-links-header {
    display: flex;
    margin-right: 50px;
    gap: 30px;
}

::placeholder {
    font-style: italic;
}

form {
    margin-top: 50px;
}

.form {
    padding: 20px;
    width: 100%;
    max-width: 200px;
    height: 700px;
    text-align: center;
    background-color: #14181C;
    color: #fff;
    align-items: center;
}

.input-group {
    margin-bottom: 10px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffffff44;
    color: #ffffff;
    font-size: 1rem;
    background-color: #ffffff00;

}

.btn {
    background-color: #ffffff00;
    cursor: pointer;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffffff44;
    font-size: 1rem;
    width: 50%;
    font-family: Montserrat Alternates, sans-serif;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    text-decoration: underline;
}

.input-group {
    flex-basis: 49%;
}

.background-image-registerpage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.758), #0000009d), url(../images/background.jpg);
    width: 300px;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    }

.flexbox-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

textarea {
    height: 300px;
}

.background-image-registerpage a {
      color: #fff;
      text-decoration: none;
    }

.background-image-registerpage h2 {
    font-size: 1.5rem;
}





@media (min-width: 800px) {
    body {
        margin: 0px 0px 0px 0px;
    }

    h2 {
        font-size: 1.5rem;
    }

    /* Form-pages */
    .background-image-registerpage {
        width: 600px;
    }

    .form {
    max-width: 400px;
    padding: 50px;
    }
}

@media (min-width: 1000px) {

input {
    padding: 20px;
}

.submit {
    padding: 20px;
}

/* Form-pages */
.background-image-registerpage {
    width: 800px;
    height: 900px;
    padding: 50px;
}

.form {
    max-width: 800px;
    height: 700px;
    width: 70%;
}

}

