/* Fonts */
h1 {
    font-family: Roboto, sans-serif;
}

h2 {
    font-family: Montserrat Alternates, sans-serif;
}

p, a {
    font-family: Padauk, sans-serif;
}

header button {
text-decoration: none;
background: none;
border: none;
font-size: 1.5rem;
font-family: Padauk, sans-serif;
color: #14181C;
}


/* Header */

header {
    display: flex;
    align-items: center;
    background-color: #fff;
    min-height: 60px;
    position: sticky;
    top: 0px;
    border-bottom: 1px solid #e4e4e4;
    justify-content: space-between;
    z-index: 3;
}

header img {
    width: 50px;
}


button:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.nav-links-header {
    display: flex;
    margin-right: 50px;
    gap: 30px;
}


/* Background image HomePage */

.background-image-homepage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.758), #0000009d), url(/images/background.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.hotview {
    letter-spacing: 8px;
}

.labs {
    letter-spacing: 15px;
}

.background {
    background-color: #14181c;
}

/* Image Carousel Home Page */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0px 20px 80px 20px;
}

.carousel {
    width: 80vw;
    height: 30vh;
    position: relative;
    margin: 50px auto 50px auto;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 32;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, 
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
    outline: 1px solid black;
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}


/* Blog Post list HomePage */

.container-posts-homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: #fff;
}


.container-posts-homepage img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    padding: 30px;
}

.text-blog-posts {
    text-align: center;
    color: #fff;
}

.create-button {
    display: flex;
    justify-content: center;
}

.create-button, .blog-post-button button {
    background:  #14181c;;
    font-size: 2rem;
    color: #fff;
    font-family: Montserrat Alternates, sans-serif;
    padding: 20px;
    margin: 50px;
    border-color: rgba(255, 255, 255, 0.097);
    }

/* Blog post page */
.container-blogpost-page {
    display: flex;
    justify-content: center;
    }

    .container-blogpost-page h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    .container-blogpost-page p {
        font-size: 1.5rem
    }
    

    .container-blogpost-page img {
        width: 1000px;
        height: 400px;
        object-fit: cover;
        
        }
    
        .post {
            background-color: #ffffff00;
        }
    
    .container-buttons-blogpage {
        display: flex;
        justify-content: center;
    }


/* Register Page */
.background-image-registerpage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.758), #0000009d), url(/images/background.jpg);
    width: 350px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.flexbox-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
}

.background-image-registerpage a {
      color: #fff;
      text-decoration: none;
    }

.background-image-registerpage h2 {
    font-size: 1.5rem;
}

a:hover {
    text-decoration: underline;
}

::placeholder {
    font-style: italic;
}

form {
    margin-top: 50px;
}

.form {
    padding: 50px;
    width: 100%;
    max-width: 800px;
    height: 700px;
    text-align: center;
    background-color: #14181C;
    color: #fff;
    align-items: center;
}

.input-group {
    margin-bottom: 10px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffffff44;
    color: #ffffff;
    font-size: 1rem;
    background-color: #ffffff00;

}


.submit {
    background-color: #ffffff00;
    cursor: pointer;
    padding: 10px;
    outline: 0;
    border: 1px solid #ffffff44;
    font-size: 1rem;
    width: 50%;
    font-family: Montserrat Alternates, sans-serif;
}

.submit:hover {
    text-decoration: underline;
}

.input-group {
    flex-basis: 49%;
}

/** {
    box-sizing: border-box;
} */

@media (min-width: 800px) {
    body {
        margin: 0px 80px 80px 80px;
    }

    /* Home page */
    .carousel {
        height: 100vh;
    }

    .carousel-button {
        font-size: 4rem;
    }

    .container-posts-homepage img {
        width: 500px;
        height: 500px;
    }

/* Blog post page */

    /* Register page */
    .background-image-registerpage {
        width: 500px;
    }
}

@media (min-width: 1000px) {

/* Register page */
.background-image-registerpage {
    width: 1000px;
    height: 800px;
    padding: 50px;
}

.form {
    width: 70%;
}

input {
    padding: 20px;
}

.submit {
    padding: 20px;
}
}